<% provide(:title, 'Buy guides') %>

<div class="row">

  <div class="container">
    <ul class="nav buttons">
      <li class="<%= list_active %> list-button">
         <a data-toggle="tab" onclick="setActiveTabList()" id="list-tab-button" href="#list">List</a>
      </li>
      <li class="<%= map_active %> show-on-map-button">
        <a data-toggle="tab" onclick="setActiveTabMap()" id="map-tab-button" href="#map">Show on Map</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade <%= list_active %>" id="list">
        <%= render 'list' %>
      </div>
      <div class="tab-pane fade <%= map_active %>" id="map">
        <%= render 'map' %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  function setActiveTabList() {
    document.cookie = "active_tab=list";
  }

  function setActiveTabMap() {
    document.cookie = "active_tab=map";
  }
</script>
